<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<meta HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
	<title>AISLER - Simple 2 Layers</title>
</head>
<body>
	<h2>AISLER - Simple 2 Layers</h2>
	<p> This creates a default board with AISLER's rules for simple 2 layers designs.</p> 
	
	<p> This conforms to the rules found in these documents:
		<ul>
			<li><a href="https://aisler.net/help/design-rules-and-specifications/design-rules">AISLER's PCB Design Rules</a></li>
			<li><a href="https://aisler.net/help/design-rules-and-specifications/specifications">2-Layer PCB Specifications</a></li>
			<li><a href="https://aisler.net/help/design-rules-and-specifications/2-layer-hd-pcb-stackup">2-Layer HD PCB Stackup</a></li>
			<li><a href="https://aisler.net/help/design-rules-and-specifications/plated-and-non-plated-holes">Plated and Non-Plated Holes</a></li>
		</ul>		 
	</p>
</body>
</html>
